body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 576px){
    body{
        background-color: rgb(220, 205, 235);
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .container2{
        display: flex;
        flex-direction: row;
    }
    
    h1{
        font-size: 40px;
        padding-top: 20px;
        padding-left: 30px;
        color: rgb(61, 36, 119);
    }
    
    .imagemHeader1{
        padding-top: 40px;
        padding-left: 20px;
    }
    
    .imagemHeader2{
        padding-top: 50px;
        padding-left: 50px;
    }

    .paginasAdicionais{
        justify-content: center;
        margin-top: 30px;
        display: flex;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 30px;
        transition: background-color 0.3s ease; /* Suave transição da cor */
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .sbrenos:hover {
        background-color: #ba90e0; 
    }
    
    .cntt:hover {
        background-color: #ba90e0; 
    }
    
    .sbrenos{
        border-radius: 10px;
        padding: 20px;
        padding-right: 50px;
        padding-left: 50px;
        margin: 10px;
        background-color: rgb(93, 36, 146);
    }
    
    .cntt{
        border-radius: 10px;
        padding: 20px;
        padding-right: 50px;
        padding-left: 50px;
        margin: 20px;
        background-color: rgb(93, 36, 146);
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box  {
    padding: 20px;
    text-align: center;
}

.blue {
    background-color: rgb(185, 185, 241);
    color: white;
    padding: 30px;
}

.containerArtigo1 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    align-items: center;
    background-color: rgb(93, 36, 146);
    margin-top: 40px;
    padding-bottom: 20px;
}

.imagensArtigos img {    
    width: 200px;
    height: 200px;
    object-fit: cover; /* Opcional, mantém o aspecto proporcional */
    border-radius: 10px;
}

.LMartigos{
    font-family:sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 120px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(156, 110, 196);
    transition: background-color 0.3s ease; /* Suave transição da cor */
}

.LMartigos:hover {
    background-color: #ba90e0; 
}

.artigos {
    padding-top: 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sidebar {
    display: flex;
    gap: 20px;
}

.red {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgb(187, 159, 233);
    color: white;
}

.main-content, .sidebar {
    flex: 1 1 100%;
    flex-direction: column;
} 

.main-content .box {
    flex: 1 1 55%;    
}

.sidebar .box {
    flex: 1 1 55%;  
}


@media (min-width: 576px) {
    .container {
        flex-wrap: wrap;
    }

    .main-content .box {
        flex: 1 1 35%;    
    }

    .sidebar .box {
        flex: 1 1 35%
    }
    .sidebar, .main-content {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {

    .container {        
        flex-direction: row;
    }
    
    .sidebar {
        flex: 1;
    } 

    .sidebar .box {
        flex: 1 1 55%;  
    }

    .main-content {
        flex: 3;
    } 
}

