

a2 {
    color: rgb(14, 190, 14);
    font-family: 'Times New Roman', Times, serif;
}

a1 {
    color: darkviolet;
    font-family: 'Times New Roman', Times, serif;

    }

a {
    color: darkorange;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}