h2{
    color: #72469e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 150px;
    padding-top: 15px;
   
}

p{
    text-align: justify;
    padding-right: 15px;
}

.container9{
    display: flex;
    flex-direction: row;
}

.img1{
    margin-top: 60px;
    margin-right: 35px;
    
}

.img2{
    margin-top: 0px;
    margin-left: 750px;
}