h2{
    color: #72469e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 150px;
    padding-top: 15px;
}

.container9{
    display: flex;
    flex-direction: row;
}

.img1{
    margin-top: 40px;
    margin-right: 15px;
}

.img2{
    margin-top: 40px;
    margin-left: 750px;
}