h2{
    color: #72469e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 120px;
    padding-top: 20px;
   
}

p{
    text-align: justify;
    padding-right: 18px;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 18px;
}

.container15{
    display: flex;
    flex-direction: row;
}

.Imagem1{
    margin-bottom: 15px;
}

a1{
    color: #72469e;
}

a2{
    color: #72469e;   
}

a3{
    color: #72469e;
}

a4{
    color: #72469e;
}

a5{
    color: #72469e;
}

a6{
    color: #72469e;
}

a7{
    color: #72469e;
}

.ref{
    margin-left: 30PX;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #72469e;
}