* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header  */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo{
    color: rgb(47, 114, 238);
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.menu {
    padding-top: 15px;
    padding-right: 10px;
    width: 40px;
}

.textoInicial {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "space grotesk";
}

.introducao{
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "space grotesk";
    font-size: 13px;
    line-height: 1.5;
}

.container3 {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: black;

}

.container3 img {
    margin-top: -50px;
    padding-bottom: -20px;
}

.textoSecundario{
    margin-top: 80px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    font-family: "space grotesk";
}

.video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.sessão3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto3{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "space grotesk";
}

.imagem3 {
    margin-top: 40px;
    padding: 35px;
}

.container4 { 
    background-color: rgb(238, 238, 238);  
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    border-radius: 4%;
    margin-bottom: 80px;
}

.box{
    display: flex;
    justify-content: space-between;
    background-color: rgb(254, 255, 255);
    margin-bottom: 20px;
    font-family: "space grotesk";
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 15px;
}

.box p{
    font-size: 12px;
    font-weight: 400;
    margin-right: 70px;
}

footer{
    margin-top: 50px;
    padding: 40px;
    background-color: #3778FA;
    border-radius: 5%;
}

.TituloFooter{
    font-family: "space grotesk";
    color: #ffffff;
    font-size: 50px;
}
